.ref-container {
    display: block ;
    gap: .5rem ;
    font-size: 1.2rem ;
    height: 100dvh ;
}

.ref-container h2{
    text-align: center ;
}

.ref-container li{
    margin-top : 0.8rem ;
}

.ref-container li a {
    color: #155 ;
}

.grid-container > div {
    border: 1px solid black ;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;

  }