:root {
  --clr-sky-100: #add8e6;
  --clr-sky-500: #2f66a6 ;
  --clr-sky-900: #1f5796;
  --clr-hotearth: #ea6c14;
  --clr-goodearth : #4499a9 ;
  --clr-neutral : #ebf8e1 ;
  --clr-neutral-gray : #aeafaf ;
  --clr-accent-100: #5255d6 ;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* width: 100dvw ;
  height : 100dvh ; */
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  background: linear-gradient(175deg, #3f87a6, #ebf8e1, #f69d3c);
  box-shadow: 6px 0px 5px gray;
}



.divimage img {
    border-radius: 35px ;
    height: 8rem ;
    padding: 25px ;
    

    
    
}

.topnav ul {
  position : relative ;
  right: 15px ;
  bottom : -60px ;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  list-style-type: none;
}


.topnav-list li {
  flex: 1 1 0 ;
  color: var(--clr-hotearth);
  text-align: center ;
  text-decoration: none;

  padding: 5px 8px;
  background-color: var(--clr-sky-100);
  border-radius: 5px;
  min-width: max-content ;
}

.topnav-list li:hover {
  color: #3f87a6;
  background: yellow;
  transition: all .5s ease ;
}

.topnav-list li.active {
    background : var(--clr-accent-100) ;
    color : yellow ;

}

.topnav-list li a {
    /* color: yellow ; */
    text-decoration: none ;
}

.topnav-list li a:visited {
    color:var(--clr-hotearth) ;
}

.topnav-list li a:hover  {
    color: #3f87a6;
   /* background: yellow;
    text-decoration: none ;
    transition: all .5s ease ;
    */
} 


.slidebar {
  position: fixed ;
  border-top-right-radius: 15px ;
  top: 10px ;
  display: flex;
  flex-direction: column;
  width: 440px;
  height : 100% ;
  left: -470px;
  background-color: var(--clr-sky-900);
  border :2px solid  #f69dc3; 
  color : #ebf8e1 ;
  padding: 10px 10px ;
  transition: all .5s ease ;
}

.slidebar span {
    cursor: pointer ;
    text-align: right ;
    position:relative;
    left  : 410px ;
}

.slidebar.active {
    left: 0 ;
    transition: all 1s ease ;

}



.slidebar a {
    color: yellow ;
}
.slidebar a:hover, a:visited {
    color: orange ;
}


section.maincontent_top,section.maincontent_bottom {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    gap: 10px ;
    padding: 20px 30px ;
    width: 100% ;
    background: #ebf8e1  ;


}
section.maincontent_top .main-left,section.maincontent_top .main-right {
    flex :  1 1 45% ;
    border: 1px solid var(--clr-sky-900) ;
    box-shadow: 3px 0px 3px var(--clr-sky-900) ;
    padding: 20px 30px ;
    display: flex ;
    flex-direction: column ;
    max-width: 700px ;

}

section.maincontent_bottom .main-left, section.maincontent_bottom .main-right {
    flex :  1 1 45% ;
    border: 1px solid var(--clr-sky-900) ;
    padding: 20px 30px ;
    display: flex ;
    flex-direction: column;

    max-width: 700px ;

}

section.maincontent_bottom .main-full {
    display:flex ;
    justify-content: space-between ;
}

/* section.maincontent_bottom .main-full .split-div  {
    flex :  1 1 45% ;
    border: 1px solid var(--clr-sky-900) ;
    padding: 20px 30px ;
    display: flex ;
    flex-direction: row;

    

} */

#composition_chart {
}
.main-footer {
    display: flex ;
    justify-content: space-around ;
    flex-wrap: wrap ;
    align-items: flex-stretch ;
    background: var(--clr-neutral) ;
    gap: 50px ;
    padding: 10px 30px ;


}
 .footer-left {
    flex: 0 0 30% ;
    font-size: 1.3rem ;
    border : 1px solid var(--clr-sky-900) ;
    padding: 10px 10px ;
    border-radius: 10px ;
    /* height:max-content ; */
    width: 30rem  ;
    display: flex ;
    flex-direction: column ;
    justify-content: center;
    align-items: center;   
 }

 .footer-right{ 
    flex: 1 1 60% ;

 }

 .footer-left form {
    display: flex ;
    gap: 10px ;
    align-items: left ;
    flex-direction: column; 
    max-width: 20rem ;


 }
/* 

.main-left {
    flex :  1 1 0 ;
    border: 1px solid var(--clr-sky-900) ;
    padding: 20px 30px ;
}
.main-right {
    flex : 1 1 0 ;
    padding: 20px 30px ;
    border: 1px solid var(--clr-sky-900) ;
} */

.chartdiv {
    max-width: 1000px ; 
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}

.piediv.chardiv {
    max-width: 300px ;
    max-height: 300px ;
}

.chartdiv p {
    font-style: italic ;
}



.furtherinfo {
    font-size: 1.2rem ;
    border-radius: 10px;
    padding: 5px 15px ;
    display: flex ;
    margin:auto ;
    margin-top:20px ;
    background-color: var(--clr-goodearth);
    color: var(--clr-neutral) ;

}
.furtherinfo:hover , .submitButton:Hover{
    cursor: pointer;
    color: yellow ;
}

.main-footer form input {
    font-size:1.2rem ;
}
.main-footer form label {
    font-size: 1rem ;
}

.footer-description {
    border: 1px solid var(--clr-sky-900) ;
    border-radius : 10px ;
    padding: 5px 15px ;

}

.submitButton {
    background-color: var(--clr-sky-900);
    color: var(--clr-neutral) ;
    max-width : 10rem ;
    border-radius: 15px;
    padding: 5px 5px ;
    text-align: center ;
    margin-left: 10px ;
}




table{
    min-width:500px  ;
    border: 2px solid var(--clr-sky-900) ;
    border-radius: 3px ;
    padding : 5px ;
    align-self : center;
    
}

thead th {
    padding: 5px 15px ;
 }

tbody th, tbody td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    /* background-color: #96D4D4; */
    padding: 5px 20px ;
  } 

  thead tr:nth-child(1){
    background-color: yellowgreen;
  }
  tbody tr:nth-child(odd){
    background:#adf ;
  }

  tr:nth-child(even){
    background: var(--clr-neutral-gray) ;
  }

  tr.active {
    background-color: yellow;
  }


.main-full {
    width: 95dvw ;
    border: 1px solid var(--clr-sky-900) ;
    border-radius : 10px ;
    padding: 5px 15px ;
    display:flex ;
    flex-direction: column;
    /* margin: auto ; */
}
.split-div {
    display:flex ;
    justify-content: space-around ;
    overflow: hidden ;
    width: 90dvw ;
    
    
}
.split-div .split-div-left {
    flex: 1 0 30% ;  
    display: flex ;
    flex-direction: row ;
    font-size : 1.1rem ;
    min-width: 250px ;
}

.split-div .split-div-left ul {
    display : flex ;
    flex-direction : column ; 
    justify-content: left ;
    
    /* display: inline-block ; */

}

.split-div .split-div-right {
    flex: 0 1 65% ;
    display: flex ;
}

.split-div .split-div-right {
    flex: 0 1 65% ;
}

.split-div-right canvas {
    max-width: 90% ;
}



.split-div .split-div-left li {
    /* display : flex ;
    flex-direction : column ; */
    /* display: inline-block ; */

}



/* .split-div-left .submitButton {
    align-self: center ;
    padding: 5px 15px ;
    font-size: 1.1rem ;
    margin-left: 60px ;
}

.split-div .split-div-right {
    flex: 0 1 68% ; 
    display: flex ;
    flex-direction: column ;

}

.split-div-right canvas {
    max-width : 90% ; 
}
    */
.countryList ul {
    list-style-type: none ;
}


@media only screen and (max-width: 1000px) {
    .divimage img {
        display: none ;
    }


    .topnav ul {
        flex-direction: row ;
        bottom: 0px ;
        font-size: 1.2rem ;
    }

    .split-div {
        display:flex ;
        flex-direction: column ;
        justify-content: space-around ;
         
    
        
    }

    
    .split-div .split-div-left ul {
        font-size : 1.0rem ;
        overflow: hidden ;
        display: block
    }

    .split-div .split-div-left ul li {
        display: inline-block ;
    }

    .split-div-left .submitButton {
        /* float: right ; */
        font-size: .8rem ;
        padding: 5px 10px ;
        position : relative ;
        left: 45% ;
        margin-bottom: 1rem ;
        /* top: -40px ; */
        /* margin: -30px 30px 30px 0 ; */
        

    }

}